* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.4s ease-in-out;
    letter-spacing: 1px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    transition: opacity 0.75s, visibility 4s;
    z-index: 99999999;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 50%;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
    width: 100%;

}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(42, 170, 221);
    border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(97, 174, 204);
}

h6 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.8em;
}

h2 {
    font-size: 2em;
}

h1 {
    font-size: 3em;
}

section {
    width: 100vw;
}

#header1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(42, 170, 221);
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid rgb(102, 100, 100);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;

}

#header1 img {

    width: 40px;
    height: 40px;

}

#header1 a {
    text-decoration: none;
    color: white;



}

#header1 a:hover {
    color: rgb(219, 35, 93);

}

#header1 button {
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
    font-size: 15px;
    font-size: 17px;
}

#header1 button:hover {
    color: rgb(219, 35, 93);
    
}
#forms button{
    background-color: rgb(25, 25, 25);
    border-radius: 5px;
    color: rgb(22, 122, 162);
    
}
#forms button:hover{
   opacity: 0.9;
   color: rgb(22, 122, 162);
    
}


#section1 {


    height: 85vh;
    background-image: url(image/Sans\ titre.png );
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

#section1 h5 {
    font-size: 15px;
    color: rgb(219, 35, 93);
}

#section1 h2 {
    width: 15em;
    padding-top: 20px;
}

#section1 div {
    padding-top: 160px;
    padding-left: 40px;
}

#section1 button {
    padding: 13px 30px;
    border: none;
    border-radius: 20px;
    background-color: rgb(114, 20, 186);
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

#section1 button:hover {

    background-color: rgb(135, 58, 194);
}

#section1 img {
    position: absolute;
    right: 7em;
    height: 31em;
    top: 1.6em;
}

#section2 {
    max-width: 1000px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;

}
#section2 div{
  display: flex;
  align-items: center;
  border-right: 1px solid black;

}

#section2 img {
    width: 70px;
    height: auto;
    display: inline-block;
    padding-top: 1em;


}

#section2 h3 {
    font-size: 20px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 30px;
}

#section3 {
    display: grid;
    width: 90%;
    gap: 80px;
    padding-top: 80px;
    margin: 100px auto;
    grid-template-columns: repeat(auto-fill, 300px);
    position: relative;
    padding-left: 50px;
    margin-top: -5px;
    padding-bottom: 60px;

}

#section3 h2 {
    position: absolute;
    top: 180px;
    font-size: 30px;
    padding-left: 15px;

}

#section3 h3 {
    position: absolute;
    top: 230px;
    font-size: 18px;
    padding-left: 15px;
    color: rgb(50, 50, 50);
}

#section4 {
    position: relative;
    padding-bottom: 150px;
}

#section4 h5 {
    text-align: center;
    color: black;
}

#section4 h2 {
    text-align: center;
    font-size: 30px;
    color: rgb(22, 122, 162);
}

#section4 .product {

    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    gap: 50px;
    padding-left: 20px;
}

#section4 .product img {
    width: 250px;
    height: auto;
    border-radius: 15px;
}

#section4 .product p {
    color: rgb(219, 35, 93);
    padding-top: 15px;
}

#section4 .product button {
    padding: 13px 30px;
    border: none;
    border-radius: 20px;
    background-color: rgb(114, 20, 186);
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

#section4 .product button:hover {

    background-color: rgb(135, 58, 194);
}

#section4 .product a {
    text-decoration: none;
}

#button-middle {

    position: absolute;
    left: 560px;
    bottom: 90px;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(114, 20, 186);
    color: white;
    cursor: pointer;

}

#button-middle:hover {

    background-color: rgb(34, 34, 34);
    color: white;
}

#section5 {
    position: relative;
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: rgb(245, 244, 244);
}

#section5 .div1 {
    padding-left: 100px;
    
    display: block;
}

#section5 .div1 h2 {
    font-size: 50px;
    color: rgb(22, 122, 162);
}

#section5 .div2 {
    position: absolute;
    right: 200px;
    top: 10px;
}

#section5 .div2 h1 {
    font-size: 150px;
    color: gray;
}

#section5 .div3 p {
    width: 290px;
    padding-top: 200px;
    font-size: 20px;
}

.divs {


    margin-top: 300px;
    display: flex;
    flex-direction: row;
    margin: 200px auto;
    max-width: 1160px;
    gap: 50px;
}

.divs p {
    width: 230px;
    font-size: 20px;
}

.all {
    padding: 60px 60px 60px 60px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    box-shadow: 4px 6px 10px 0px rgb(138 122 122 / 50%);
}

.all img {
    border-radius: 10px 70px 10px 50px;
    width: 110px;
    height: auto;
    margin-top: 30px;
}

.mixh {
    position: absolute;
    right: 55px;
    bottom: 90px;
}

.mixh h3 {
    font-size: 24px;
}

.mixh h4 {
    font-size: 20px;
    color: rgb(75, 74, 74);
}

footer {

    background-color: rgb(238, 238, 238);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 50px;
    position: relative;
    padding-bottom: 80px;
    box-shadow: 100px 100px 40px 100px rgb(138 122 122 / 50%);
}

footer a {
    text-decoration: none;
    color: black;

}

footer ion-icon {
    width: 50px;
    height: 40px;

}

footer ion-icon:hover {
    color: rgb(4, 106, 223);

}

footer h2 {
    font-size: 27px;

}

footer h4 {
    font-size: 18px;

}

footer a:hover {
    opacity: 0.7;

}

footer button {
    border: none;
    display: flex;
    align-items: center;

}

footer .text-center {
    position: absolute;
    bottom: 0;
    color: gray;
}


#section1ct  {
    height: 100vh;
    position: relative;
}

#section1ct h2 {
    font-size: 30px;
}
#section1ct h3 {
    font-size: 18px;
    color: rgb(70, 70, 70);
}
#section1ct .div1ct {
    padding-top: 100px;
    padding-left: 80px;
    line-height: 50px;
}
#section1ct .div2ct {
  position: absolute;
  top: 100px;
  right: 110px;
  line-height: 50px;
}
#section1ct input {
    width: 600px;
    height: 40px;
    padding-left: 10px;
    margin-top: 20px;
  }
  #section1ct textarea {
   resize: none;
   margin-top: 20px;
   width: 600px;
  }
  #section1ct button {
    color: rgb(4, 106, 223);
    border: 1px solid rgb(4, 106, 223);
    background-color: transparent;
    padding: 10px 40px;
    cursor: pointer;
    font-weight: bold;
   }
   #section1ct button:hover {
    border: none;
    background-color:rgb(4, 106, 223) ;
    color: white;
    
   }